<section class="comment-section">
  <h2 class="comment-section__title">评论</h2>
  <script src="https://giscus.app/client.js"
    data-repo="{{ commentSetting.repo }}"
    data-repo-id="{{ commentSetting.repoId }}"
    data-category="{{ commentSetting.category }}"
    data-category-id="{{ commentSetting.categoryId }}"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
  </script>
</section>
