<% if (typeof commentSetting !=='undefined' && commentSetting.showComment && commentSetting.commentPlatform==='Waline' )
    { %>
    <div id="comments" class="cf">
        <div class="comments-header">留言</div>
        <div id="waline"></div>
    </div>

    <link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
    <script type="module">
        import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

        init({
            el: '#waline',
            serverURL: '<%= commentSetting.serverURLs %>',
        });
    </script>
    <% } %>