<article class="mod-archive">
    <div class="mod-archive__item">
        <ul class="mod-archive__list">
            {% for post in posts %}
            <li class="post-item">
                <time class="mod-archive__time" datetime="{{ post.dateFormat }}">{{ post.dateFormat }}</time>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href="{{ post.link }}">
                    {% if post.isTop %}[置顶] {% endif %}
                    {{ post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</article>