{% extends "base.html" %}
{% block title %}{{ tag.name }} | {{ config.siteName }}{% endblock %}

{% block content %}
{% include "partials/header.html" %}

<section class="section-body">
    <header class="section-header u-textAlignCenter">
        <h2 class="css91e91f2cb17f7a" style="text-align: center; margin-bottom: 30px;"># {{ tag.name }}</h2>
    </header>
    <article class="mod-archive">

        <div class="mod-archive__item">
            <div class="mod-archive__year"></div>

            </br>

            <ul class="mod-archive__list">
                {% for post in posts %}
                <li>
                    <time class="mod-archive__time" datetime="{{ post.dateFormat }}">{{ post.dateFormat }}</time>
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <a href="{{ post.link }}">{{ post.title }}</a>
                </li>
                {% endfor %}

            </ul>

            <div class="posts-nav">
                {% if pagination.next %}
                <div style="float:right;">
                    <a href="{{ pagination.next }}" class="page-numbers current flip">下一页</a>
                </div>
                {% endif %}

                {% if pagination.prev %}
                <a href="{{ pagination.prev }}" class="page-numbers current flip">上一页</a>
                {% endif %}
            </div>

        </div>
    </article>
</section>

{% include "partials/footer.html" %}
{% endblock %}